*{
    font-family: 'Ubuntu', sans-serif;
}
html, body{
    background-color: #CEFFE8 !important;
    color: white;
}
.container, .col, .row, .backRow{
    background-color: #CEFFE8 !important;
}
.acceptItem{
    background-color: #A8E4D0;
    height: 300px;
    border-radius: 20px;
    padding: 30px;
}
.acceptItem p{
    display: inline !important;
}
.acceptContent{
    display: inline;
}

