* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

html {
    background-color: #CEFFE8;
}

.registerMainWindow {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.registerWindow {
    background-color: #4DA396;
    width: 600px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 140px;
    height: 140px;
    background-image: url(../img/logoWithName.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
}

.inputs {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

input {
    margin-top: 20px;
    width: 300px;
    background-color: #40877c;
    outline-color: #40877c;
    border: none;
    height: 40px;
    padding-left: 15px;
    border-radius: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

input::placeholder {
    color: white;
}

.regButton {
    width: 200px;
    height: 50px;
    margin-top: 30px;
    background-color: #40877c;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
}