<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\styles\LoginPageStyles.css">
    <link rel="icon" href="..\img\icons\favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <title>Login Page</title>
</head>
<body>
    <div class="registerMainWindow">
        <div class="registerWindow">
            <div class="logo"></div>
            <div class="inputs">
                <input placeholder="Login"/>
                <input placeholder="Password"/>
            </div>
            <input class="regButton" value="Login" type="button"/>
        </div>
    </div>
</body>
</html>