{% extends "auth_base.html" %}
{% block title %}Регистрация{% endblock %}

{% block content %}
    <div class="registerMainWindow">
        <div class="registerWindow">
            <div class="logo"></div>
            {% if form.errors %}
                <p style="color: crimson">Электронная почта и пароль не подходят</p>
            {% endif %}
            <div class="inputs">
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ user_form.as_p }}
                    <input type="submit" class="regButton" value="Регистрация">
                </form>
            </div>
            <a style="color: white; text-decoration: none; margin-top: 15px" href="{% url "users:password_reset" %}">Забыли пароль?</a>
        </div>
    </div>
{% endblock %}