{% extends "base.html" %}
{% block tite %}Главная{% endblock %}

{% block content %}
    <p><a href="{% url "users:register" %}">Регистрация пользователя</a></p>
    <p><a href="{% url "organisations:reg_org" %}">Регистрация организации</a></p>
    <p><a href="{% url "organisations:reg_fund" %}">Регистрация фонда</a></p>
    <p><a href="{% url "users:profile" %}">Профиль</a></p>
    <p><a href="{% url "users:edit" %}">Изменить профиль</a></p>
    <p><a href="{% url "users:login" %}">Вход</a></p>
    <p><a href="{% url "users:logout" %}">Выход</a></p>
    <p><a href="#">Выбрать организацию</a></p>
    <p><a href="#">Выбрать активность</a></p>
{% endblock %}