{% extends 'auth_base.html' %}
{% load form_extras %}
{% load static %}
{% block title %}Регистрация фонда{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/LoginPageStyles.css" %}">
    <link rel="icon" href="{% static "img/icons/favicon.png" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="registerMainWindow">
        <div class="registerWindow">
            <a href="{% url "events:index" %}">
                <div class="logo"></div>
            </a>
            {% if form.errors %}
                <ul class="errorlist">
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <li>{{ field }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
            <form class="inputs" method="post" novalidate style="align-items: center; margin-bottom: 30px;">
                {{ form.title|add_attribute:"Введите название фонда" }}
                {{ form.description|add_attribute:"Введите описание фонда" }}
                {% csrf_token %}
                <button type="submit" class="regButton">Регистрация</button>
            </form>
        </div>
{% endblock %}